.content
  form(id='add-trailhead')
    .input-group
      input.form-control(placeholder='Feature Name' name='name')
      input.form-control(placeholder='Trailhead Key (random numbers and letters)' name='thKey')
      select.form-control(name='peakKey' multiple)
        