extends layout

block content
  #info-container.col-md-5
    .header
      button.btn.btn-danger.edit-feature Edit this feature 
      button.btn.btn-success.add-feature Add Feature
      h1 14erMap.com
      .close-it
        img(src='/images/close.png')
    #info-pane.animated
  #map
  script(src='/javascripts/app.js')


  
