extends layout

block content
  #info-container
    .header
      h1 14erMap.com
      .close-it
        img(src='/images/close.png')
    #info-pane.animated
  #map
    //iframe(frameborder='0', src='https://a.tiles.mapbox.com/v4/coloradude.cif66swvm0b0ks5ktowhab9wy.html?access_token=pk.eyJ1IjoiY29sb3JhZHVkZSIsImEiOiJjaWY2NnN5MjAwYjVxc21rdTdzdWQwd2NtIn0.4_IhtN06SX3K3moZ1da-cg')
  script(src='/javascripts/app.js')


  
