doctype html
html
  head
    title Colorado 14er Map
    link(rel='stylesheet', href='https://bootswatch.com/superhero/bootstrap.min.css')
    link(rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css')
    link(href="/stylesheets/owfont-regular.css" rel="stylesheet" type="text/css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' type='text/css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js')
    script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
  body
    block content
