.update-form-wrapper
  form.submit-update(id=data.id)
    input#name(name='name' placeholder='Name' value=data.properties.name)
    input#type(name='type' placeholder='Type' value=data.properties.type required)
    input#_id(name='_id' placeholder='Mongo _id' value=data._id required)
    input#thumbnail(name='thumbnail' placeholder='Thumbnail URL')
    label Standard Route?
      input#isStandard(type='checkbox' name='isStandard' required) 
    label Snow Only?
      input#isSnowOnly(type='checkbox' name='isSnowOnly' required)
    input#more-images(name='images' placeholder='images')
  button.btn.btn-warning.submit-update-submit Submit
  button.btn.btn-danger.remove-feature Delete this feature
    .glyphicon.glyphicon-remove
